﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";    
}
<div class="content login">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger" hidden></div>
        <div class="title">Login</div>
        <input asp-for="Email" class="form-control" placeholder="E-mail" value=@ViewData["username"] />       
        <input asp-for="Password" onkeyup="sync();" class="form-control" placeholder="Password" value=@ViewData["password"] />       
        <input asp-for="ConfirmPassword" class="form-control" hidden value=@ViewData["password"] /> <br>
        <input type="checkbox" id="rememberMe" />
        <label for="rememberMe"></label><span>Remember Me @ViewBag.Error </span>
        <button type="submit">Log in</button>
    </form>
        <div class="social"> <span>or login with social media</span></div>
        <div class="buttons">
            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                @{
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                }
                @foreach (var provider in loginProviders)
                {
                    <button  title="Log in using your @provider.DisplayName account" name="provider" value="@provider.AuthenticationScheme" type="submit" class="@provider.DisplayName.ToLower()">
                    <i class="fa fa-@(provider.DisplayName.ToLower() == "microsoft" ? "windows" : @provider.DisplayName.ToLower()) " aria-hidden="true"></i>@provider.DisplayName</button>
                }
                @*
                    <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                <button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>
                <button class="google"><i class="fa fa-google-plus"></i>Google</button>*@
            </form>
        </div>        
        <div class="already">Dont have an account ? <a onclick="register();">Register</a></div>
        <div class="already">Forgot Password ? <a onclick="forgotpassword();">Recover Password</a></div>
        <script>
            var inLogin = true;
           function register(){
                inLogin = false;
                $('.register').show() ;
                $('.login').hide()
                $('.forgotpassword').hide();
                
           }
            function forgotpassword(){
                inLogin = false;
                $('.register').hide() ;
                $('.login').hide();
                $('.forgotpassword').show();
           }
            function login(){
                inLogin = true;
                $('.register').hide() ;
                $('.login').show()
                $('.forgotpassword').hide();
                
           }
            function sync()
            {
               if(inLogin == true)
                {
                    var n1 = document.getElementById('Password');
                    console.log(n1);
                    var n2 = document.getElementById('ConfirmPassword');
                    n2.value = n1.value;
                    console.log(n2.value);
                }
            }
        </script>
</div>

<div class="content register" hidden>
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger" hidden></div>
        <div class="title">Register</div>
        
        <input asp-for="Email" class="form-control" placeholder="Email" />                
        <input asp-for="Password" class="form-control" placeholder="Password" />        
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password"/>        
        <!--<input type="checkbox" id="rememberMe" hidden/>-->
        <!--<label for="rememberMe" hidden></label>-->
        <button type="submit">Register</button>               
        <div class="already">Already have and account ? <a onclick="login();">Login</a></div>
    </form>
</div>



<div class="content forgotpassword" hidden>
  <div asp-validation-summary="All" class="text-danger" hidden></div>        
        <div class="title">Recover Password</div>        
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <h4>Enter your email.</h4>
    <hr />
    
    <div class="form-group">        
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" placeholder="Email"/>            
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Recover My Password</button>
        </div>
    </div>
</form>
        <div class="already">Already have and account ? <a onclick="login();">Login</a></div>
        <div class="already">Register New Account ? <a onclick="register();">Register</a></div>
   
</div>

 <script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
       @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script>
    @if( @ViewBag.Error != null){        
        @:toastr.error(' @ViewBag.Error');
    }
</script>