﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
 var http = createRequestObject();
    var response;
function createRequestObject() {
    var obj;
    var browser = navigator.appName;
    if (browser == 'Microsoft Internet Explorer') {
        obj = new ActiveXObject("Microsoft.XMLHTTP");
    } else {
        obj = new XMLHttpRequest();
    }
    return obj;
}
function sendReq(req) {
    http.open('get', req);
    http.onreadystatechange = handleResponse;
    http.send(null);
}

    function handleResponse() {
    if (http.readyState == 4) {
        ManageCssAndScript(http.responseText);
    }
    }
    function ManageCssAndScript(response) {
        var json = JSON.parse(response);
        document.body.innerHTML += json['html'] ;
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.appendChild(document.createTextNode(json['script']));
        document.body.appendChild(script);
    }
 sendReq('https://admin.livecustomer.chat/api/script/getcontents/1');