<html>
<head>
    <link rel='stylesheet prefetch' href='https://cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300'>
</head>
<body>
    <div id='LiveCustomerChat'>
        as
        <div v-if="collapsed && widgetType=='2'" id="operator_avatar_container">
            <h1>{{collapsed}}</h1>
            <div id="operator_avatar" @click="alert('sd');minimizeorMazmized()">
                <span @click="collapsed=false;minimizeorMazmized()" class="icon-agentonline">
                </span>
            </div>
        </div>
        <div id='hangout' :class="{'collapsed': collapsed}" v-cloak='' v-bind:style="{height:widgetHeight,width:widgetWidth}" v-if="widgetType==1">
            <div id='head' class='style-bg'>
                <i v-if="showBackButton()" @click="sideMenuOpened = false;route = ''; scrollToButtom();" class='mdi mdi-arrow-left'></i>
                <i @click="sideMenuOpened = !sideMenuOpened;" v-if="!showBackButton() && !collapsed && !sideMenuOpened" class='mdi mdi-menu'></i>
                <i id='user_information' v-if="!infoProvided && !isBlocked && !isOffline && !collapsed && route != 'customerInfoForm' " title='Please Provide your details to serve you better' v-on:click="route='customerInfoForm'" class="mdi mdi-account"></i>
                <h1>{{ toolBarTitle }}</h1>
                <i @click="collapsed = !collapsed;sideMenuOpened=false;minimizeorMazmized()" :class="{'mdi mdi-chevron-up': collapsed, 'mdi mdi-chevron-down': !collapsed}"></i>
            </div>
            <div id='content' class='content-container'>
                <div class='card menu' :class="{'open': sideMenuOpened}">
                    <div class='header'>
                        <img id='adminimage' :src='adminImage' />
                        <h2> {{adminName}} </h2>
                    </div>
                    <div class='content'>
                        <br />
                        <div class='center' id='supportstaffinfo'>
                            <span v-html="adminDescription"></span>
                        </div>
                    </div>
                </div>
                <!-- Offline Form -->
                <div class='offline-form' v-if="(isOffline && !infoProvided && !isBlocked && !InitiatedChatBefore && !collapsed)  || (isBlocked && !infoProvided)">
                    <div id='offline-form-header' class='form-header'>
                        <strong><h3>Hey Hi we are not online now please leave a message.</h3></strong>
                    </div>
                    <form @submit.prevent="handleOffileFormSubmit" class='form-container'>
                        <div class='input-container'>
                            <input required="" v-model.trim="offlieForm.fullName" type='text' placeholder='Full Name' autofocus> <br>
                        </div>
                        <div class='input-container'>
                            <input required="" id='offline-email' v-model.triofflieFormm="offlieForm.email" type='email' placeholder='Email'> <br>
                        </div>
                        <div class='input-container'>
                            <input required="" id='offline-phoneno' v-model.trim="offlieForm.phoneNumber" placeholder='Phone Number'> <br>
                        </div>
                        <div class='input-container'>
                            <textarea required="" id='offline-message' v-model.trim="offlieForm.message" placeholder='Message' rows='5'> </textarea><br>
                        </div>
                        <div id='offline-form-button' class='btn-container'>
                            <button type='submit' id="sendOfflineMessage">Send Message</button>
                        </div>
                    </form>
                </div>

                <!-- Feedback-->

                <div class='message-sent' v-if="route == 'messageSent' || (isBlocked && infoProvided)">
                    <div id='message-sent-header' class='form-header'>
                        <strong><h3>Thank you for your message, we will get back to you through email, Thanks</h3></strong>
                    </div>
                </div>


                <div class='information-form' v-if="route == 'customerInfoForm' || forceInfoProvided">
                    <div id='information-form-header' class='form-header'>
                        <strong><h3>Can you please fill up your details , to serve you better</h3></strong>
                    </div>
                    <form @submit.prevent="handleInformationSubmit" class='form-container'>
                        <div class='form-container'>
                            <div class='input-container'>
                                <input id='customer-name' v-model.trim="informationform.fullName" type='text' required placeholder='Full Name'> <br>
                            </div>
                            <div class='input-container'>
                                <input id='customer-email' v-model.triofflieFormm="informationform.email" type='email' placeholder='Email' required> <br>
                            </div>
                            <div class='input-container'>
                                <input id='customer-phoneno' v-model.trim="informationform.phoneNumber" placeholder='Phone Number'> <br>
                            </div>
                            <div id='information-form-button' class='btn-container'>
                                <button type='submit' id="information-form-click">Submit Details</button>
                            </div>
                        </div>
                    </form>
                    <div class='center' style="font-size: 25px;background: #0F9D58;height:100%;color:white;">
                        or use Social Login<br /><br />
                        <button title="Log in using your Google account" name="provider" value="Google" type="submit" class="mdi mdi-google" aria-hidden="true" style="background:#0F9D58;color:white;border:none" v-on:click="socialLogin('Google')"></button>
                        <button title="Log in using your Facebook account" name="provider" value="Facebook" type="submit" class="mdi mdi-facebook" aria-hidden="true" style="background:#0F9D58;color:white;border:none" v-on:click="socialLogin('Facebook')"></button>
                        <button title="Log in using your Windows account" name="provider" value="Windows" type="submit" class="mdi mdi-windows" aria-hidden="true" style="background:#0F9D58;color:white;border:none" v-on:click="socialLogin('Microsoft')"></button>
                        <button title="Log in using your Twitter account" name="provider" value="Twitter" type="submit" class="mdi mdi-twitter" aria-hidden="true" style="background:#0F9D58;color:white;border:none" v-on:click="socialLogin('Twitter')"></button>
                    </div>
                </div>
                <div id='company-info' class='company-info' v-if="route=='company-info'"><strong>Widgets For Website In Minutes<br><br><a class="hrefclass" href='https://www.livecustomer.chat'>Live Customer Chat</a></strong></div>
                <div id="list-chat" class='list-chat' v-if="(!isOffline || InitiatedChatBefore || infoProvided) && !isBlocked && route!='company-info'">
                    <img src='@ViewBag.SignalRUrl/images/loading.gif' v-if="!connected" class='img_loading' />
                    <ul class='chat' @scroll="foo">
                        <div class='no_previousMessage' v-if="noPreviousMessage">No Previous Message</div>
                        <li v-for="message in chatMessage" :class="{'message_b':message.User.IsAdmin,'message_a':!message.User.IsAdmin}">
                            <img :src="message.User.avatar">
                            <div class="message">{{message.Message}}</div>
                        </li>
                        <li v-if="adminTyping" class="message_b">
                            <img :src="typingAvatar">
                            <div class="message">...</div>
                        </li>
                    </ul>
                    <div class='meta-bar chat'>
                        <div class='divinputbox'>
                            <input id='Support_Message' class='nostyle chat-input' type='text' placeholder='Message...' v-model.trim="user_message" v-on:keyup.enter="sendMessage" v-on:keypress="client_usertyping" />
                            <i id='support_message_button' class='mdi mdi-send' @click="sendMessage"></i>
                        </div>
                        <!--<ul class='nav control mat-ripple tiny'><li data-route='.company-info' class='active' v-on:click="forceCompanyInfo = true">Powered By : Live Customer Chat</li></ul>-->
                        <h4 @click="route='company-info'">Powered By : Live Customer Chat</h4>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
</body>
</html>
<script src="https://admin.livecustomer.chat/assets/vue/vueurl"></script>
<script>
    var baseUrl = '@ViewBag.SignalRUrl' + '/';
</script>
