        [v-cloak] {
            display: none;
        }
        
        .buttomdivision {
            border-bottom: 6px solid #0F9D58;
            border-top: none;
        }
        
        @keyframes anim-excited {
            50% {
                transform: scale(0.8) translateY(-30px) rotateY(180deg);
            }
        }
        
        @keyframes anim-dialog {
            0% {
                transform: translateY(-300px);
            }
            1% {
                display: block;
            }
            100% {
                transform: translateY(0);
            }
        }
        
        @keyframes anim-context {
            0% {
                height: 0;
                opacity: 0;
                padding: 0 0 0 5px;
            }
            50% {
                height: auto;
                opacity: 0.4;
                padding: 10px 0 10px 15px;
            }
            100% {
                opacity: 1;
                padding: 10px 0 10px 45px;
            }
        }
        
        @keyframes fade {
            0% {
                opacity: 0;
                transform: translateX(-300px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
        
        @keyframes fade-up {
            0% {
                opacity: 0;
                transform: translateY(-300px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
        
        @keyframes navgrow {
            100% {
                width: 100%;
            }
        }
        
        @keyframes anim-overlay {
            0% {
                transform: translateY(-200px);
                border-radius: 100%;
                width: 100px;
                height: 100px;
            }
            100% {
                transform: translateY(0);
                background: rgba(0, 0, 0, 0.7);
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
                border-radius: 0;
            }
        }
        
        @keyframes anim-mat-ripple-tiny {
            0% {
                opacity: 0;
            }
            20% {
                opacity: 0.5;
            }
            100% {
                transform: scale(15);
                opacity: 0;
            }
        }
        
        @keyframes anim-mat-ripple {
            0% {
                opacity: 0;
            }
            20% {
                opacity: 0.5;
            }
            100% {
                transform: scale(40);
                opacity: 0;
            }
        }
        
        canvas {
            cursor: crosshair;
        }
        
        .center {
            text-align: center;
        }
        
        .ripple {
            width: 10px;
            height: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 100%;
            animation: anim-mat-ripple 0.55s 1 cubic-bezier(0, 0.005, 0, 0.99);
            position: absolute;
        }
        
        .ripple.tiny {
            animation: anim-mat-ripple-tiny 0.55s 1 cubic-bezier(0, 0.005, 0, 0.99);
            position: absolute;
        }
        
        .ripple.bright {
            background-color: rgba(255, 255, 255, 0.4);
        }
        
        .overlay {
            border-radius: 100%;
            width: 0px;
            height: 0px;
            position: absolute;
            right: 50%;
            top: 50%;
            z-index: 80;
        }
        
        .overlay.add {
            animation: anim-overlay 0.41337s 1 cubic-bezier(0.995, 0, 0, 0.995);
            animation-fill-mode: forwards;
        }
        
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        *:focus {
            outline: 0;
        }
        
        #hangout {
            background-color: #0F9D58;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            transition: all 0.444s cubic-bezier(0.7, 0, 0.3, 1);
            overflow: hidden;
            margin: auto;
            position: fixed;
            z-index: 100000000000000;
            bottom: 0;
            height:HANGOUTHEIGHT;
            right: 0;
        }
        
        #hangout.collapsed {
            box-shadow: none;
        }
        
        #hangout.collapsed #content {
            opacity: 0;
            height: 0;
        }
        
        #hangout.collapsed .control.floater {
            transform: scale(0) rotate(90deg);
            opacity: 0;
        }
        
        #hangout.collapsed .control.nav {
            height: 0;
            opacity: 0;
        }
        
        #floater-position {
            position: absolute;
            right: 50px;
            bottom: 90px;
            z-index: 70;
        }
        
        #chat-floater {
            margin-top: -64px;
        }
        
        .floater {
            cursor: pointer;
            padding: 17px 20px 17px 20px;
            border-radius: 100%;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            transition: all 0.333s ease-in-out;
            font-size: 1.5em;
            position: relative;
            overflow: hidden;
        }
        
        .floater.hidden {
            transform: scale(0);
        }
        
        #head {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            display: flex;
            height: 55px;
            padding: 17px 0 0 25px;
            z-index: 90;
            transition: all 0.333s ease-in-out;
        }
        
        #head .mdi-chevron-down,
        #head .mdi-chevron-up {
            margin: 0 15px 0 auto;
            font-size: 1.5em;
            cursor: pointer;
            color: white;
        }
        
        #head .mdi-menu,
        #head .mdi-arrow-left {
            font-size: 1.5em;
            color: white;
            margin-right: 12px;
            cursor: pointer;
        }
        
        #head .mdi-fullscreen,
        #head .mdi-fullscreen-exit {
            font-size: 1.5em;
            color: white;
            margin-right: 5px;
            cursor: pointer;
        }
        
        #head h1 {
            margin-top: 1px;
            font-size: 1em;
            color: white;
            font-weight: normal;
        }
        
        #content {
            background-color: white;
            transition: all 0.444s cubic-bezier(0.7, 0, 0.3, 1);
            margin-top: 50px;
        }
        
        #content.content-container {
            height: contentContainerHeight;
            /*overflow-y: auto;*/
        }
        
        #content.chat {
            background-color: #e5e5e5;
        }
        
        .card {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            background-color: white;
            position: absolute;
            transition: width 0.4s cubic-bezier(0.7, 0, 0.3, 1);
        }
        
        .card.dialog {
            width: 350px;
            height: 50%;
            padding: 20px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            animation: anim-dialog 0.344s 1 cubic-bezier(0.84, 0.64, 0.03, 0.765);
            animation-fill-mode: alternate;
            /*display: none;*/
            z-index: 80;
        }
        
        .card.offline {
            width: 350px;
            height: 20%;
            padding: 20px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            animation: anim-dialog 0.344s 1 cubic-bezier(0.84, 0.64, 0.03, 0.765);
            animation-fill-mode: alternate;
            /*display: none;*/
            z-index: 80;
        }
        
        .card.offline .btn-container {
            text-align: right;
        }
        
        .card.offline .btn {
            margin-left: 10px;
            cursor: pointer;
            font-weight: bold;
            color: #3f51b5;
            font-size: 0.85em;
            text-transform: uppercase;
        }
        
        .card.dialog h3 {
            margin-bottom: 30px !important;
        }
        
        .card.dialog .btn-container {
            text-align: right;
        }
        
        .card.dialog .btn {
            margin-left: 10px;
            cursor: pointer;
            font-weight: bold;
            color: #3f51b5;
            font-size: 0.85em;
            text-transform: uppercase;
        }
        
        .card.menu {
            bottom: 0;
            height: 100%;
            width: 0;
            height: 91%;
            z-index: 80;
            overflow: hidden;
        }
        
        .card.menu .header {
            padding: 25px 0 0 0;
            width: 100%;
            height: 200px;
            background: url('https://s18.postimg.org/5jcy8pibd/background_03.png');
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            text-shadow: 2px 2px 0px black;
            margin: 0 0 15px 0;
        }
        
        .card.menu .header img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            box-shadow: 0px 0px 0px 5px white;
            margin: 0 0 10px 0;
            transform-style: preserve-3d;
        }
        
        .card.menu .header img.excite {
            animation: anim-excited 0.777s 1 ease-out;
            animation-fill-mode: forwards;
        }
        
        .card.menu .header h3 {
            color: white !important;
            font-size: 2em !important;
            font-weight: bold !important;
        }
        
        .card.menu .content {
            padding: 15px;
        }
        
        .card.menu.open {
            width: 100%;
            display: block;
        }
        
        .list-phone,
        .list-text,
        .list-account,
        .list-chat {
            height: 100%;
        }
        
        .company-info.shown .list-chat.shown {
            display: block;
            animation: fade 0.444s 1 ease-out;
            animation-fill-mode: alternate;
        }
        
        .list-chat .meta-bar {
            height: 40px;
            position: relative;
            width: 100%;
            background-color: white;
        }
        
        .meta-bar h4 {
            color: white;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }
        
        .divinputbox {
            padding: 0 0 0 25px;
        }
        
        .list-chat .meta-bar.chat {
            background: white;
            border-bottom: none;
            position: absolute;
            z-index: 10;
        }
        
        li[data-route] {
            padding-top: 1px !important;
        }
        
        .list-chat.shown {
            animation: fade-up 0.444s 1 ease-out;
        }
        
        ul.chat {
            width: 100%;
            height: 95%;
            background-color: #e5e5e5;
            overflow: auto;
            height: ulChatHeight;
        }
        
        ul.chat li {
            padding: 15px 25px 15px 25px;
            display: inline-flex;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            transition: all 0.18s ease-in;
            position: relative;
        }
        
        ul.chat li img {
            height: 42px;
            width: 42px;
            border-radius: 100%;
        }
        
        ul.chat li .message {
            padding: 10px 10px 10px 20px;
            font-size: 0.9em;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            min-width: 50%;
            max-width: 70%;
            position: relative;
            background: white;
            border-radius: 5px;
            word-wrap: break-word;
        }
        
        ul.chat li.message_a .message:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 8px 8px 8px 0;
            border-color: transparent white;
            display: block;
            width: 0;
            z-index: 1;
            left: -8px;
            top: 3px;
        }
        
        ul.chat li.message_a:last {
            margin-bottom: 30px !important;
        }
        
        ul.chat li.message_b .message:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 8px 0px 8px 8px;
            border-color: transparent white;
            display: block;
            width: 0;
            z-index: 1;
            top: 3px;
            right: -8px;
        }
        
        .message_b {
            flex-direction: row-reverse !important;
        }
        
        .message_b .message {
            margin-right: 10px !important;
        }
        
        .message_b .message {
            background-color: #f5f5f5;
        }
        
        .message_b .message:after {
            right: -8px;
            left: auto;
            border-width: 8px 0 8px 8px;
            border-color: transparent #f5f5f5;
        }
        
        ul.list {
            width: 100%;
            padding-bottom: 130px;
        }
        
        ul.list li {
            cursor: pointer;
            padding: 15px 25px 15px 25px;
            display: inline-flex;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            transition: all 0.18s ease-in;
            position: relative;
            overflow: hidden;
        }
        
        ul.list li.context {
            box-shadow: inset -1px 20px 4px -14px rgba(50, 50, 50, 0.3);
            color: white;
            animation: anim-context 0.35s 1 ease-out;
            overflow: hidden;
            animation-fill-mode: forwards;
        }
        
        ul.list li.context i {
            opacity: 0.5;
            font-size: 1.2em;
            margin-right: 20px;
            transition: opacity 0.3s ease-out;
        }
        
        ul.list li.context i:hover {
            opacity: 1;
        }
        
        ul.list li.active {
            background: #f4f4f4;
        }
        
        ul.list li.active>.mdi-menu-down {
            opacity: 1;
        }
        
        ul.list li:hover {
            background: #f4f4f4;
        }
        
        ul.list li:hover>.mdi-menu-down {
            opacity: 1;
        }
        
        ul.list li img {
            height: 42px;
            width: 42px;
            border-radius: 100%;
        }
        
        ul.list li .name {
            font-weight: bold;
            padding: 10px 0 10px 20px;
            display: flex;
            justify-content: space-between;
        }
        
        ul.list li .content-container .name {
            font-weight: bold;
            padding: 0 0 0 20px;
            font-size: 1em;
        }
        
        ul.list li .content-container .phone {
            padding: 0 0 0 20px;
            font-size: 0.8em;
            display: block;
            margin-bottom: -4px;
        }
        
        ul.list li .content-container .txt {
            padding: 0 0 0 20px;
            font-size: 0.9em;
        }
        
        ul.list li .content-container .meta {
            font-size: 0.7em;
            padding: 0 0 0 20px;
            color: #999;
        }
        
        ul.list li .time {
            font-size: 0.8em;
            margin: 13px 0 0 auto;
        }
        
        ul.list li .mdi-menu-down {
            font-size: 1.5em;
            color: #676767;
            opacity: 0;
            transition: opacity 0.15s ease-out;
            margin: 10px 0 0 auto;
        }
        
        ul.nav {
            list-style-type: none;
            width: 100%;
            height: 50px;
            border-top: 1px solid #eceded;
            background-color: white;
            z-index: 10;
            bottom: 0;
            transition: all 0.333s ease-in-out;
        }
        
        ul.nav li.active:after {
            content: "";
            display: block;
            width: 0;
            height: 10px;
            margin: 0 auto;
            background-color: white;
            margin-top: 6px;
            animation: navgrow 0.222s 1 ease-in;
            animation-fill-mode: forwards;
        }
        
        ul.nav li {
            height: 50px;
            overflow: hidden;
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: .9em;
            color: #676767;
            cursor: pointer;
            padding: 10px 0 10px 0;
            transition: all 0.18s ease-in;
            position: relative;
        }
        
        ul.nav li:hover {
            background: #f4f4f4;
        }
        
        .mdi-send {
            color: #666666;
            font-size: 1.2em;
            cursor: pointer;
        }
        
        input.nostyle {
            border: 0;
            width: 90%;
            padding: 12px 0 12px 0;
            background: transparent;
        }
        
        .i-group {
            position: relative;
            margin-bottom: 45px;
        }
        
        .i-group label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: all 0.2s ease;
        }
        
        .i-group input {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            background: #fafafa;
            color: #636363;
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #757575;
        }
        
        .i-group input:focus {
            outline: none;
        }
        
        .i-group input:focus~label,
        .i-group input.used~label {
            top: -20px;
            transform: scale(0.75);
            left: -2px;
        }
        
        .bar {
            position: relative;
            display: block;
            width: 100%;
        }
        
        .bar:before,
        .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: purple;
            transition: all 0.2s ease;
        }
        
        .bar:before {
            left: 50%;
        }
        
        .bar:after {
            right: 50%;
        }
        
        input:focus~.bar:before,
        input:focus~.bar:after {
            width: 50%;
        }
        
        body {
            font-family: 'Roboto';
            background-size: cover;
        }
        
        .company-info {
            font-size: x-large;
            color: white;
            background-color: #0F9D58;
            padding-top: 40%;
            text-align: center;
            /*display: none;*/
            height: 100%;
        }
        
        .adminOnline {
            position: fixed;
        }
        
        .message-sent.shown {
            display: block;
            animation: fade 0.444s 1 ease-out;
            animation-fill-mode: alternate;
        }
        
        .company-info.shown {
            display: block;
            animation: fade 0.444s 1 ease-out;
            animation-fill-mode: alternate;
        }
        
        .offline-form.shown {
            display: block;
            animation: fade 0.444s 1 ease-out;
            animation-fill-mode: alternate;
        }
        
        .information-form.shown {
            display: block;
            animation: fade 0.444s 1 ease-out;
            animation-fill-mode: alternate;
        }
        
        .message-sent.shown {
            display: block;
            animation: fade 0.444s 1 ease-out;
            animation-fill-mode: alternate;
        }
        
        #user_information {
            /*display: block;*/
            text-align: right;
            color: white;
            font-size: 1.5em;
            margin-right: 5px;
        }
        
        #informationMessage {
            /*display: block;*/
            position: absolute;
            z-index: 10;
            color: white;
            padding-top: 5px;
            padding-bottom: 5px;
            bottom: 80px;
            background-color: #0F9D58;
        }
        
        .offline-form .form-header {
            height: 25%;
            background: #0F9D58;
            position: relative;
            padding: 0 30px;
        }
        
        .offline-form h3 {
            color: white !important;
            position: absolute !important;
            bottom: 35% !important;
            font-size: 22px !important;
        }
        
        .offline-form .form-container {
            height: 100%;
            padding: 0 15px;
            /* overflow: scroll; */
        }
        
        .offline-form .input-container {
            margin: 10px 0px;
            border: 1px solid #ccc;
        }
        
        .offline-form .input-container input {
            border: none;
            height: 35px;
            padding: 0 10px;
            width: 100%;
        }
        
        .offline-form .btn-container {
            background: #0F9D58;
            width: 100%;
            height: 30px;
            border-radius: 19px;
            margin-top: 20px;
        }
        
        .offline-form .btn-container button {
            border: none;
            background: none;
            width: 100%;
            height: 100%;
            color: white;
        }
        
        .offline-form textarea {
            resize: none;
            border: none;
            padding: 10px;
            width: 100%;
        }
        
        .offline-form .btn-container {
            background: #0F9D58;
            width: 100%;
            height: 30px;
            border-radius: 19px;
            margin-top: 20px;
        }
        
        .message-sent .form-header {
            height: 100%;
            background: #0F9D58;
            position: relative;
            padding: 0 30px;
        }
        
        .message-sent h3 {
            text-align: center;
            color: white !important;
            position: absolute !important;
            bottom: 40% !important;
            font-size: 22px !important;
            padding-left: 30px;
            padding-right: 30px;
        }
        
        .information-form .form-header {
            height: 25%;
            background: #0F9D58;
            position: relative;
            padding: 0 30px;
        }
        
        .information-form h3 {
            color: white !important;
            position: absolute !important;
            bottom: 35% !important;
            font-size: 22px !important;
        }
        
        .information-form .form-container {
            height: 34%;
            padding: 0 15px;
            padding-bottom: 61% !important;
            padding-top: 4% !important;
            /* overflow: scroll; */
        }
        
        .information-form .input-container {
            margin: 10px 0px;
            border: 1px solid #ccc;
        }
        
        .information-form .input-container input {
            border: none;
            height: 35px;
            padding: 0 10px;
            width: 100%;
        }
        
        .information-form .btn-container {
            background: #0F9D58;
            width: 100%;
            height: 30px;
            border-radius: 19px;
            margin-top: 20px;
        }
        
        .information-form .btn-container button {
            border: none;
            background: none;
            width: 100%;
            height: 100%;
            color: white;
        }
        
        .information-form textarea {
            resize: none;
            border: none;
            padding: 10px;
            width: 100%;
        }
        
        .information-form .btn-container {
            background: #0F9D58;
            width: 100%;
            height: 30px;
            border-radius: 19px;
            margin-top: 20px;
        }
        
        .img_loading {
            padding-left: 20%;
            position: fixed;
            z-index: 10;
            top: 20%;
            /*top: 50%;*/
        }
        
        .no_previousMessage {
            background-color: #0F9D58;
            text-align: center;
            padding-top: 5px;
            color: white;
            padding-bottom: 10px;
        }
        
        .loading {
            border-radius: 50px;
            display: flex;
        }
        
        .loading .dot {
            margin: 2px;
            height: 12px;
            width: 12px;
            background-color: #aaa;
            opacity: 0.3;
            border-radius: 50%;
            position: relative;
            top: 2px;
            animation: dots 1.2s ease-in infinite;
        }
        
        .loading .dot.center {
            animation-delay: 0.3s;
        }
        
        .loading .dot.right {
            animation-delay: 0.6s;
        }
        
        .loading::before,
        .loading::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%;
            background: #ececec;
        }
        
        #support_message_button {
            color: #0F9D58;
        }
        
        @keyframes scale {
            50% {
                transform: scale(1.1);
            }
        }
        
        @keyframes dots {
            0% {
                opacity: 1;
            }
        }
        
        .hrefclass {
            color: white;
        }

        /*live chat ko*/

#content-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    line-height: 22px
}

#content {
    border-radius: 10px 10px 0 0;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,.2)
}

    #content #full-view-button {
        display: block;
        position: relative;
        padding: 0;
        outline: 0;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        font-weight: 700
    }

    #content #open-label {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 6px 15px
    }

.lc2 #content #open-icon {
    float: right;
    position: relative
}

#mobile_invitation_container {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    font-size: .9em
}

    #mobile_invitation_container:hover {
        cursor: pointer
    }

.invitation_message {
    margin-right: 1em;
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

#operator_avatar_container {
    display: table-cell;
    padding: .1em
}

#invitation_message_text {
    float: right;
    color: #0F9D58;
    background: #e7eaf1;
    border-radius: .3em;
    font-size: 1em;
    padding: .7em .9em;
    margin-right: .8em;
    max-height: 3.2em;
    line-height: 1.15em;
    overflow: hidden;
    display: block;
    border: 1px solid rgba(0,0,0,.07);
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    margin-left: .5em
}

.invitation_message:after {
    border: .5em solid transparent;
    border-color: transparent transparent transparent #DFE1E4;
    display: block;
    position: absolute;
    content: "";
    margin-top: .5em;
    right: 5.1em;
    top: 1.5em
}

#operator_avatar {
    float: right;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border: .3em solid #fff;
    box-sizing: content-box;
    overflow: hidden;
    color: #fff;
    text-align: center;
    position: relative;
    transition: background-color .2s ease-in-out .2s;
    -webkit-transition: background-color .2s ease-in-out .2s;
    -ms-transition: background-color .2s ease-in-out .2s;
    -o-transition: background-color .2s ease-in-out .2s
}

.avatar-loaded #operator_avatar {
    background-color: #fff
}

#operator_avatar img {
    width: 0;
    height: 0;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 50%;
    margin-left: 50%;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.avatar-loaded #operator_avatar img {
    width: 4.5em;
    height: 4.5em;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    background-color: #fff
}

#content-container.new-mobile #content, #extra.new-mobile {
    margin-top: 1.5em !important;
    border-radius: .5em !important
}

#extra.new-mobile {
    left: .5em !important;
    right: .5em !important;
    width: auto !important
}

#content [class*=" icon-"], #content [class^=icon-] {
    -webkit-font-smoothing: none
}

.icon-agentonline:before {
    font-size: 2em
}

.icon-leavemessage:before {
    font-size: 1.8em
}

.icon-leavemessage {
    line-height: 4.5em !important
}

.icon-agentonline {
    line-height: 4.6em !important
}

@font-face {
    font-family: 'livechat-modern';
    src: url('https://cdn.livechatinc.com/fonts/modern/livechat-modern_fa44078c17.eot?ekgvz6');
    src: url('https://cdn.livechatinc.com/fonts/modern/livechat-modern_fa44078c17.eot?ekgvz6#iefix') format('embedded-opentype'), url('https://cdn.livechatinc.com/fonts/modern/livechat-modern_7cf45543dc.ttf?ekgvz6') format('truetype'), url('https://cdn.livechatinc.com/fonts/modern/livechat-modern_27a85e5f71.woff?ekgvz6') format('woff'), url('https://cdn.livechatinc.com/fonts/modern/livechat-modern_bfb0fd8212.svg?ekgvz6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'livechat-modern' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tick:before {
    content: "\e915";
}

.icon-leavemessage:before {
    content: "\e90b";
}

.icon-agentonline:before {
    content: "\e90c";
}

.icon-clip:before {
    content: "\e90d";
}

.icon-close:before {
    content: "\e90e";
}

.icon-email:before {
    content: "\e90f";
}

.icon-maximize:before {
    content: "\e910";
}

.icon-minimize:before {
    content: "\e911";
}

.icon-mobile:before {
    content: "\e912";
}

.icon-thumbs-down:before {
    content: "\e913";
}

.icon-thumbs-up:before {
    content: "\e914";
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

body {
    font-family: 'Lato', sans-serif !important;
}

#content {
    padding: 0;
    background: #FFF;
    border-radius: 4px 4px 0 0 !important;
    box-shadow: none;
    background-clip: padding-box !important;
    border: 0 !important;
    height: 100%;
}

    #content #open-icon {
        top: 8px;
        right: 8px;
    }

.icon-maximize {
    font-size: 18px;
}

.lc2 #content #full-view-button {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
}

#full-view-button span:nth-child(2) {
    width: 100% !important;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 38px !important;
    display: inline-block !important;
}

#content {
    background-color: #0F9D58;
}

#operator_avatar {
    background-color: #0F9D58;
}

.operators-bar img {
    border-radius: 30px !important;
}

#powered {
    display: none;
}

#livechat-full {
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    height: auto !important;
}

#wrapper {
    padding-right: 0;
    padding-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#title {
    border-radius: 0;
}

.submit input {
    background-color: #0F9D58 !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.05) !important;
}    



