﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="title">@ViewData["Title"]</div>
<div align="center"><img src="@ViewData["UserImage"]" height="50px" width="50px" /></div>
<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" placeholder="Old Password"/>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" placeholder="New Password"/>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Retype New Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Change password</button>
        </div>    
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
