﻿@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}
<div class="title">Set your password</div>
<p class="text-info">
    You do not have a local password for this site. Add a local
    account so you can log in without an external login.
</p>
<form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">    
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" placeholder="New Password"/>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">        
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Retype Password"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Set password</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
