@{Layout = null;}<!doctype html><html ng-app="fuse"><head><base href="/"><meta charset="utf-8"><meta name="description" content=""><meta
 name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"><title>Live Customer CHAT | Live support
</title><link rel="stylesheet" href="styles/vendor-b1dec65d26.css"><link rel="stylesheet" 
href="styles/app-d44b394889.css"><link 
href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" 
rel="stylesheet" type="text/css"></head><link rel="manifest" href="/manifest.json"><script 
src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script><script>
var OneSignal = window.OneSignal || [];
            OneSignal.push(["init", {
                appId: "2e573a27-672a-478a-8c60-b254c888d9e3",
                autoRegister: false,
                notifyButton: {
                hide: true /* Set to false to hide */
            }
        }]);
</script>
<!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
<body md-theme="{{vm.themes.active.name}}" md-theme-watch ng-controller="IndexController as vm" 
class="{{state.current.bodyClass || ''}}"><ms-splash-screen id="splash-screen"><div class="center"><div 
class="spinner-wrapper"><div class="spinner"><div class="inner"><div class="gap"></div><div class="left"><div 
class="half-circle"></div></div><div class="right"><div class="half-circle"></div></div></div></div></div></div>
</ms-splash-screen><div id="main" class="animate-slide-up" ui-view="main" layout="column"></div><script 
src="assets/lib/redux.min.js"></script><script src="assets/lib/immutable.js"></script><script type="text/javascript" 
src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDb7URWHOKl4Ww8tVxqaejJ3lKU0TRncgQ"></script><script 
src="scripts/vendor-28b337911a.js"></script><script src="assets/lib/signalr-2.2.0.min.js"></script><script>
var ifDevePort = location.href.match(/:([35]+000)/);

            var baseName;

            if( ifDevePort )
            {
                baseName = "http://localhost:" + 5000 + '/';
            }
            else
            {
                baseName = "https://admin.livecustomer.chat/";
            }    

            // baseName = "https://localhost:5000/";

            $.getScript( baseName + 'signalr/hubs');
</script><script src="https://admin.livecustomer.chat/signalr/hubs"></script><script src="scripts/app-9ac4d02b7a.js">
</script></body></html>@Html.Raw(ViewBag.Css)
@Html.Raw(ViewBag.HTML)
<script id="livecustomerchat">
    @Html.Raw(@ViewBag.Script)
</script>